.App #container {
  font-family: "Poppins", sans-serif;
  max-width: 600px;
  margin: 15px auto;
  padding: 10px;
  padding-bottom: 20px;
  border-width: 1;
  background: linear-gradient(#e1f2fb, #f7f7f7);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.HeaderForm form {
  min-width: 200px;
}

.bg-summer {
  background: linear-gradient(#ffe700, #f7f7f7)
}



@media (max-width: 360px) {
  .HeaderForm {
    width: 250px;
    text-align: center;
  }
  .App #container {
    padding: 5px;
    padding-bottom: 15px;
    margin: 5px auto;
    }
  .App .card-body {
    padding: 10px;
  }
}

@media (min-width: 360px) {
   .App #container {
    padding: 10px;
    padding-bottom: 20px;   
     }
}